.page-content {
  h2,
  h3,
  h4,
  h5 {
    font-size: var(--size21);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    color: var(--color-quaternary-100);
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem 0 1rem 0;
  }

  ul {
    list-style: initial;
    padding: 0;
    margin: 0 0 20px 20px;
  }

  img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  table {
    width: 100% !important;
    border: 1px solid transparent;
  }

  table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  table td {
    aspect-ratio: 1;
    width: 100%;
    border: 1px solid transparent;
    overflow: hidden;
    flex-shrink: 0;
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }

  table td:not(:last-child) {
    padding-right: 15px;
  }

  table td:not(:first-child) {
    padding-left: 15px;
  }
}
