import React from 'react';

import { {{ pascalCase name }}Props } from './types';

export const {{ pascalCase name }}: React.FC<{{ pascalCase name }}Props> = () => {
  return (
    <div className="flex items-center justify-between w-full p-4 bg-gray-200 dark:bg-zinc-800/30">
      <h1 className="text-2xl font-bold">{{ pascalCase name }}</h1>
    </div>
  );
};
