.testimonials-embla {
  overflow: hidden;
  flex: 1;
}
.testimonials-embla__container {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.testimonials-embla__slide {
  flex: 0 0 50% !important;
  min-width: 0;

  @media (max-width: 768px) {
    flex: 0 0 100% !important;
  }
}

.testimonials-embla__title {
  font-size: var(--size21);
  @media (max-width: 768px) {
    font-size: var(--size18);
  }
}

.testimonials-embla__subtitle {
  font-size: var(--size15);
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: var(--size11);
  }
}