.founders-embla {
    overflow: hidden;
    flex: 1;
}
.founders-embla__container {
    display: flex;
    align-items: end;
}
.founders-embla__slide {
    flex: 0 0 33% !important;
    min-width: 0;
    @media (max-width: 1024px) {
        flex: 0 0 80% !important;
    }
}
