.dialog-gallery-embla {
  overflow: hidden;
  flex: 1;
}

.dialog-gallery-embla__container {
  display: flex;
}

.dialog-gallery-embla__slide {
  flex: 0 0 33.333333% !important;
  min-width: 0;

  @media (max-width: 768px) {
    flex: 0 0 100% !important;
  }
}
